@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  color: rgb(55 65 81);
}

.prose h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  line-height: 1.75;
}
